# Tupples

In [ ]:
# tupples are immutable  while list are mutable

In [1]:
mytupple = (1,4,8,2,9)

In [2]:
mytupple

(1, 4, 8, 2, 9)

In [3]:
mytupple [:4]

(1, 4, 8, 2)

In [4]:
mytupple.sort ()

AttributeError: 'tuple' object has no attribute 'sort'

In [ ]:
# tupple are change like no delet ; no add no pop

In [6]:
cites = ('khi' , 'lhr'  , 'skt')
cites

('khi', 'lhr', 'skt')

In [8]:
largest,  bigger,  smaller = cites

In [9]:
largest

'khi'

In [10]:
bigger

'lhr'

In [12]:
largest = 'DHA'

In [13]:
largest

'DHA'

In [20]:
alist =[34 ,45,6]

In [22]:
a,b,c= alist

In [23]:
a

34

# for loop

In [31]:
for i in range ( 10 ):
    print (i,'A Basit')

0 A Basit
1 A Basit
2 A Basit
3 A Basit
4 A Basit
5 A Basit
6 A Basit
7 A Basit
8 A Basit
9 A Basit

In [32]:
for i in range ( 5,10 ):
    print (i,'A Basit')

5 A Basit
6 A Basit
7 A Basit
8 A Basit
9 A Basit

In [39]:
for i in range ( 0,10 ,2):# (start ; end-1: step)2 is step for loop
    print (i,'A Basit')

0 A Basit
2 A Basit
4 A Basit
6 A Basit
8 A Basit

In [38]:
for i in range ( 10,0 , 2 ):# no error 
    print (i,'A Basit')

In [37]:
for i in range ( 10,0 , -1 ):
    print (i,'A Basit')

10 A Basit
9 A Basit
8 A Basit
7 A Basit
6 A Basit
5 A Basit
4 A Basit
3 A Basit
2 A Basit
1 A Basit

In [41]:
for name in ['khi' , 'lhr'  , 'skt']:
    print (name)

khi
lhr
skt

In [40]:
for c in 'string':
    print (c)

s
t
r
i
n
g

In [42]:
a=['khi' , 'lhr'  , 'skt']
for num in (len(a)-1,0,-1):
    print (a [num])

skt
khi
skt

In [43]:
for a in range (10):
    if a%3==1:
        break
    print (a)

0

In [48]:
friends = [ 'a', 'b' , 'c' ,'d', 'e', 'f','g']
for friend in friends: 
    if friend!='e':
        print ('enjoy a party')
    else :
        print ('party is over')
        break

enjoy a party
enjoy a party
enjoy a party
enjoy a party
party is over

In [50]:
friends = [ 'a', 'b' , 'c' ,'d', 'e', 'f','g']
for friend in friends: 
    if friend!='e':
        print ('enjoy a party')
    else :
        continue 
        print ('party is over')

enjoy a party
enjoy a party
enjoy a party
enjoy a party
enjoy a party
enjoy a party

In [51]:
for i in range (10):

SyntaxError: unexpected EOF while parsing (<ipython-input-51-c62e6f9ddd67>, line 1)

In [52]:
for i in range (10):
    pass # no error

In [57]:
a= int (input ('Enter a number:' ))
for i in range (1,11):
    print (a,'×',i,'=',a*i)

Enter a number:4
4 × 1 = 4
4 × 2 = 8
4 × 3 = 12
4 × 4 = 16
4 × 5 = 20
4 × 6 = 24
4 × 7 = 28
4 × 8 = 32
4 × 9 = 36
4 × 10 = 40

In [62]:
for a in range (2 , 10 ,2 ):#first loop 1 then complete exicute second loop 
    print ("×××××××××××")
    for b in range (1 , 11) :# second loop 
        print (f'{a} × {b} ={a*b} ')

×××××××××××
2 × 1 =2
2 × 2 =4
2 × 3 =6
2 × 4 =8
2 × 5 =10
2 × 6 =12
2 × 7 =14
2 × 8 =16
2 × 9 =18
2 × 10 =20
×××××××××××
4 × 1 =4
4 × 2 =8
4 × 3 =12
4 × 4 =16
4 × 5 =20
4 × 6 =24
4 × 7 =28
4 × 8 =32
4 × 9 =36
4 × 10 =40
×××××××××××
6 × 1 =6
6 × 2 =12
6 × 3 =18
6 × 4 =24
6 × 5 =30
6 × 6 =36
6 × 7 =42
6 × 8 =48
6 × 9 =54
6 × 10 =60
×××××××××××
8 × 1 =8
8 × 2 =16
8 × 3 =24
8 × 4 =32
8 × 5 =40
8 × 6 =48
8 × 7 =56
8 × 8 =64
8 × 9 =72
8 × 10 =80

# Dictionary { }

In [64]:
mydic= {}

In [65]:
type (mydic)

dict

In [66]:
len (mydic)

0

In [69]:
mydic = {name: "basit"}#(key :value)

In [70]:
mydic [name ]

'basit'

In [76]:
myDic= {"name":"basit", "num1":23, "num2":45 }

In [74]:
myDic ["name"]

'basit'

In [77]:
myDic ["num1"]

23

In [ ]:
# method key () , value () , items ()

In [79]:
for k,v in myDic.items():# first key and secound value
    print (k,v)

name basit
num1 23
num2 45

In [80]:
for k in myDic.keys():
    print (k)

name
num1
num2

In [82]:
for v in myDic.values():
    print (v)

basit
23
45

In [83]:
for k in myDic.keys():
    print (myDic [k])

basit
23
45

# list in list

In [113]:
a=[1,4,9,3,7]
b=[34,45,67,90]
c=['apple','orange ',a,b]

In [114]:
c

['apple', 'orange ', [1, 4, 9, 3, 7], [34, 45, 67, 90]]

In [104]:
c [2]

[1, 4, 9, 3, 7]

In [105]:
c [3][2]

67

In [106]:
c [3][2:]

[67, 90]

In [107]:
del c[3][1]
c

['apple', 'orange ', [1, 4, 9, 3, 7], [34, 67, 90]]

In [115]:
c[3].remove (90)
c

['apple', 'orange ', [1, 4, 9, 3, 7], [34, 45, 67]]

# dictionary in list

In [118]:
aa = [11,22,33, myDic]
aa

[11, 22, 33, {'name': 'basit', 'num1': 23, 'num2': 45}]

In [119]:
aa [3]['num2']

45

In [120]:
del aa [3]['num2']

In [121]:
aa

[11, 22, 33, {'name': 'basit', 'num1': 23}]

In [132]:
# tuple in list do you self

In [122]:
#not delete

In [124]:
dd = {'names':['a',1,2,5,8]}
dd

{'names': ['a', 1, 2, 5, 8]}

In [127]:
dd ['names'][2]

2

In [129]:
del dd ['names'][2]
dd

{'names': ['a', 1, 8]}

In [130]:
dd ['names'].remove(8)

In [131]:
dd

{'names': ['a', 1]}

# dictionary in dictionary

In [135]:
gg={'names':myDic}

In [136]:
gg

{'names': {'name': 'basit', 'num1': 23}}

In [137]:
gg ['names']['num1']

23

In [140]:
bb = {'num1':12,'num2':142,'num1':12,  }# over wright
bb

{'num1': 12, 'num2': 142}

In [145]:
bb ['abc']='zzz'# add in dictionary

In [146]:
bb

{'num1': 12, 'num2': 142, 'abc': 'zzz'}